{% if app.user %}
<div class="menu">
    <a href="{{ path('app_main') }}">
        <img src="{{ asset('assets/img/add_task.svg') }}" alt="ajouter une tache">
        <span class="hide-on-mobile">Créer une nouvelle tâche</span>
    </a>
    <a href="{{ path('app_main') }}">
        <img src="{{ asset('assets/img/task_list.svg') }}" alt="liste des taches a faire">
        <span class="hide-on-mobile">Consulter la liste des tâches à faire</span>
    </a>
    <a href="{{ path('app_main') }}">
        <img src="{{ asset('assets/img/task_done.svg') }}" alt="liste des taches terminees">
        <span class="hide-on-mobile">Consulter la liste des tâches terminées</span>
    </a>
</div>
{% endif %}
