{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <section id="connexion" class="contact section-bg">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-8">
                {% if app.user %}
                    <div class="mb-3">
                    <div class="text-center my-3 mt-5">Vous êtes déjà connecté.e en tant que {{ app.user.userIdentifier }}</div>
                    <div class="text-center my-3 mt-5"><button class="pink"><a href="{{ path('app_logout') }}">Se déconnecter</a></button></div>
                    </div>
                {% else %}
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.roles) }}
                        {{ form_row(registrationForm.rgpdConsent) }}
                        <div>
                            <button type="submit" class="btn my-3">Inscription</button>
                            <a href="{{ path('app_login')}}" class="ms-3">Déjà inscrit ?</a>
                        </div>
                    {{ form_end(registrationForm) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
