{% extends 'base.html.twig' %}

{% block hero %}
Liste des tâches terminées
{% endblock %}

{% block body %}
    {% if not app.user %}
        Veuillez vous connecter pour accéder à la liste des tâches terminées.
    {% else %}
        {% if doneTasks|length == 0 %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas de tâche terminée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% else %}
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Tâche</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Date de création</th>
                        <th class="text-center">Auteur</th>
                        <th class="text-center" colspan="3">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in doneTasks %}
                        <tr>
                            <th scope="row" class="align-middle">{{ loop.index }}</th>
                            <td class="text-center align-middle">{{ task.title }}</td>
                            <td class="text-center align-middle">{{ task.content }}</td>
                            <td class="text-center align-middle">{{ task.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td class="text-center align-middle">{% if task.author.username == "Anonymus" %}
                                    <img src="{{ asset('assets/img/anonymus.svg')}}" alt="anonyme" style="width:30px">
                                {% else %}
                                    {{ task.author.username }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                <form method="post" action="{{ path('toggle_task', {'title': task.title}) }}" onsubmit="return confirm('Êtes-vous sûr de n\'avoir pas terminé cette tâche ?');">
                                    <button type="submit" class="btn btn-todo btn-sm">Non terminée</button>
                                </form>
                            </td>
                            <td class="text-center align-middle">
                                <a href="{{ path('edit_task', {'title' : task.title}) }}" class="btn btn-todo btn-sm">Modifier</a>
                            </td>
                            <td class="text-center align-middle">
                                <form method="post" action="{{ path('delete_task', {'title': task.title}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?');">
                                    <button type="submit" class="btn btn-todo-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
