{% extends 'base.html.twig' %}

{% block hero %}Modifier le profil de {{ userToEdit.username }}{% endblock %}

{% block body %}
{% if not app.user or not is_granted('ROLE_ADMIN') %}
    Seuls les adminisateurs ont accès à cette Page
    <a href="{{ path('app_main') }}" class="btn btn-primary">Retour</a>
{% else %}
{{ form_errors(userForm) }}
{{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.username) }}
    {{ form_row(userForm.plainPassword, {
        'label': 'Modifiez le mot de passe ou laissez-le vide pour ne pas le modifier'
    }) }}
    {% if 'ROLE_ADMIN' in userToEdit.roles %}
        {% set adminLabel = 'Rester administrateur ? Oui' %}
    {% else %}
        {% set adminLabel = 'Devenir administrateur ? Oui' %}
    {% endif %}
    {{ form_row(userForm.roles, {
        'label': adminLabel
    }) }}
    <div>
        <button type="submit" class="btn btn-primary my-3">Modifier les informations</button>
    </div>
{{ form_end(userForm) }}
{% endif %}
{% endblock %}
