{% extends 'base.html.twig' %}

{% block title %}Vos informations personnelles{% endblock %}



{% block body %}
{% if not app.user %}
    <div class="alert alert-danger" role="alert">
        <strong>Cette page n'est pas accessible aux utilisateurs non connectés</strong> 
    </div>
    <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
    <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
{% else %}
<div>Votre E-mail : {{app.user.email}}</div>
<div>Votre nom d'utilisateur : {{app.user.username}}</div>
<div>
Votre rôle : 
{% if 'ROLE_ADMIN' in app.user.roles %}
    Administrateur
{% else %}
    Utilisateur
{% endif %}
</div>
<a href="/mon-profil-utilisateur/{{app.user.username}}/modifier" title="Modifiez vos informations" class="btn btn-primary">Modifiez vos informations</a>
{% endif %}
{% endblock %}
