{% extends 'base.html.twig' %}

{% block hero %}
<h1>Gestion des utilisateurs</h1>
{% endblock %}
{% block body %}
{% if not app.user or not is_granted('ROLE_ADMIN') %}
    Seuls les adminisateurs ont accès à cette Page
    <a href="{{ path('app_main') }}" class="btn btn-primary">Retour</a>
{% else %}

    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if user.username != 'Anonymus' %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if 'ROLE_ADMIN' in user.roles %}
                                    Administrateur
                                {% else %}
                                    Utilisateur
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('edit_user', {'username' : user.username}) }}" class="btn btn-todo btn-sm">Editer</a>
                                <form method="post" action="{{ path('delete_user', {'username': user.username}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
                                    <button type="submit" class="btn btn-todo-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}
{% endblock %}